.header {
    color: #000000;
}

.header h1 {
    font-size: 3rem;
}

.header p {
    font-size: 1.5rem;
    margin-top: 3%;
}

.header button {
    padding: 1.5% 3%;
    font-size: 1.2rem;
    margin-top: 4%;
}

.space {
    height: 10%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    color: #495057;
    text-align: center;
}